/* default html items */

p {
    color: white;
}

body {
    padding: 0px !important;
    margin: 0px auto !important;
}

button {
    border-radius: 0.8rem !important;
    margin: 0.1rem !important;
}

input {
    margin: 0.1rem !important;
}
/* Input section stuff */

.row {
    display: flex;
    width: 100%;
    flex-direction:  row;
    flex-wrap: wrap;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.input_column_half {
    float: center;
    width: 50%;
}

/* grid stuff */

.container {
    display: grid;
    grid-template-columns: [left] minmax(1px, 1fr) [main] minmax(260px, 8fr) [right] minmax(1px, 1fr);
}

.item {
    border-style: solid;
    border-color: #111111;
    background-color: #333333;
    border-radius: 1rem;
    border-width: 0.1rem;
    padding: 1%;
    margin: 1%;
    overflow-wrap: anywhere;

    grid-column: main / main;
}

.row_1 {
    grid-row: 1 / 1;
}

.row_2 {
    grid-row: 2 / 2;
}

.row_3 {
    grid-row: 3 / 3;
}

.row_4 {
    grid-row: 4 / 4;
}

.row_5 {
    grid-row: 5 / 5;
}

.row_6 {
    grid-row: 6 / 6;
}

.row_7 {
    grid-row: 7 / 7;
}

.row_8 {
    grid-row: 8 / 8;
}

.row_9 {
    grid-row: 9 / 9;
}

.row_10 {
    grid-row: 10 / 10;
}

.row_11 {
    grid-row: 11 / 11;
}

.row_12 {
    grid-row: 12 / 12;
}

/* Inputs */

.input_block {
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
}

.input_label {
    align-items: center;
    padding-right: 0.5rem;
}

.input_input {
    align-items: center;
}

/* Result section */

.result-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.result-item {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-style: solid;
    border-color: #111111;
    border-radius: 1rem;
    border-width: 0.1rem;
}

/* Other styles */

.green {
    color: #0eff00cc;
    font-weight: bold;
}

.red {
    color: #ff0000cc;
    font-weight: bold;
}

.grey {
    color: grey;
    font-weight: bold;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

/* Enums & options */

.item-chosen {
    border: darkcyan;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.3rem;
}

.item-not-chosen {
    padding: 0.3rem;
}

